{{- range .git.credentials }}
https://{{ ( bitwarden "item" . ).login.username }}:{{ ( bitwardenFields "item" . ).token.value }}@
{{- index ( urlParse ( index ( bitwarden "item" . ).login.uris 0 ).uri ) "host" }}
{{- end }}
